body{ width:960px;
      margin-left:auto;
      margin-right:auto;
      /*background-color:#white;
      border:2px inset blue;*/
}

/* Menu horizontal con buscador
----------------------------------------------- */
.Legend{
    font-size: 50px;
}

#menuWrapper {
width:100%; /* Ancho del men� */
height:35px;
padding-left:0px;
padding-right:0px;
background:#333333; /* Color de fondo */
border-radius:20px 20px 20px 20px 20px; /* Bordes redondeados */
}

.menu {
width: 100%;
float: left;
font-family:"Lucida Sans Unicode", "Trebuchet Unicode MS", "Lucida Grande",sans-serif;
font-size:20px; /* Tama�o de la fuente */
/*font-weight:bold;*/
}

.menu ul {
float:left;
height:0px;
list-style:none;
margin:0;
padding:0;
border-radius: 20px 20px 20px 20px; /* Bordes redondeados del submen� */
}

.menu li{
float:left;
padding:0px;
}

.menu li a{
background:#333333 url(http://lh4.googleusercontent.com/-iqgCHipLGx4/T5DqLrsVALI/AAAAAAAACaI/bcIY7SV8s5I/s35/separador.gif) bottom right no-repeat;
color:#cccccc; /* Color de la fuente */
display:block;
font-weight:normal;
line-height:35px;
margin:0px;
padding:0px 25px; /* Espacio entre cada pesta�a */
text-align:center;
text-decoration:none;
}

.menu li a:hover, .menu ul li:hover a {
background: #2580a2; /* Color de las pesta�as al pasar el cursor */
color:Skyblue; /* Color del texto al pasar el cursor */
text-decoration:none;
}

.menu li ul {
background:#333333; /* Color de fondo del submen� */
display:none;
height:auto;
padding:0px;
margin:0px;
position:absolute;
width:180px; /* Ancho del submen� */
z-index:100;
border-top:1px solid #fff; /* Borde superior del submen� */
}

.menu li:hover ul{
display:block;
}

.menu li li {
display:block;
float:none;
margin:0px;
padding:0px;
width:180px;
}

.menu li:hover li a {
background:none;
border-radius: 20px 20px 20px 20px; /* Borde de las subpesta�as */
}

.menu li ul a {
display:block;
height:35px;
font-size:12px;
font-style:normal;
margin:0px;
padding:0px 10px 0px 15px;
text-align:left;
}

.menu li ul a:hover, .menu li ul li:hover a{
background:#2580a2; /* Color de las subpesta�as al pasar el cursor */
color:#ffffff;
text-decoration:none;
}

#search { 
width: 228px; /* Ancho del buscador */
height: 22px;
float: right;
text-align: center;
margin-top: 6px;
margin-right: 6px;
/* Imagen de fondo del buscador */

}

#search-box {
margin-top: 3px;
border:0px;
background: transparent;
text-align:center;
}







